

{% extends 'pass.html' %}
{% load static %}

  {% block body%}
{% include 'serch.html'%}


   <!-- endsearch -->
<div class="job_details_area">
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="job_details_header">
                <div class="single_jobs white-bg d-flex justify-content-between">
                    <div class="jobs_left d-flex align-items-center">
                        <div >
                          {% if data.img %}
                          <img src="{{ data.img.url }}" alt="" width="100" height="100">
                          {% else %}
                            <img src="{% static 'img/candiateds/2.png' %}" alt="" width="100" height="100">
                          {% endif %}
                        </div>
                        <div class="jobs_conetent">
                            <a href="#" ><h4>{{ data.who_i}}</h4></a>
                            <div class="links_locat d-flex align-items-center">
                                <div class="location">
                                    <p> <i class="fa fa-map-marker"></i> {{ data.address}} </p>
                                </div>
                                <div class="location">
                                    <p> <i class="fa fa-clock-o"></i>{{ data.Waiting_time}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobs_right">
                        <div class="apply_now">

                        </div>
                    </div>
                </div>
            </div>

            <div class="descript_wrap white-bg">
                <div class="single_wrapp">

                </div>
                <div class="white-card white-card-inner">
                    <div class="single_wrap" style="margin-top: 10px;">
                        <h4>معلومات عن الدكتور</h4>
                        <ul>
                            <p>{{ data.subtitle}}</p>
                        </ul>
                    </div>
                </div>
                <div class="single_wrap">
                    <h4>خدمات الدكتور :</h4>
                    <ul>
                        <p class="tagitem disable-click pull-left mr-4" style="background-color: #f5f5f5;
                        color: #808184;"> {{ data.Specialist_doctor}}
                        </p>

                    </ul>
                    <br>
                </div>
                <div class="single_wrap">
                    <h4>صور العيادة :</h4>
                    <img src="{% static 'img/candiateds/2.png' %}" alt="">
                    <img src="{% static 'img/candiateds/2.png' %}" alt="">
                    <img src="{% static 'img/candiateds/2.png' %}" alt="">
                    <img src="{% static 'img/candiateds/2.png' %}" alt="">

                </div>
            </div>


        </div>
        <div class="col-lg-4">
            <div class="job_sumary">
                <div class="summery_header">
                    <h3>معلومات عن الدكتور </h3>
                </div>
                <div class="job_content">
                    <ul>
                        <li>  أنشاء فى :{{ data.timecreate}}</li>
                        <li> الكشف : {{ data.price}} جنية</li>
                        <li> بلد المنشأ :{{ data.nationl}} </li>
                        <li>عدد ساعات العمل : {{ data.working_hours}}</li>
                    </ul>
                </div>
            </div>
            <div class="share_wrap d-flex">
                <span>شارك الصفحه :</span>
                <ul>
                    <li><a href="{{data.facebook}}"> <i class="fa fa-facebook"></i></a> </li>

                    <li><a href="{{data.twitter}}"> <i class="fa fa-twitter"></i></a> </li>
                    <li><a href="{{data.google}}"> <i class="fa fa-envelope"></i></a> </li>
                </ul>
            </div>

        </div>
    </div>
</div>
</div>
</div>

   {% endblock body%}